[Unit]
Description=Tamagotchi Auto Deploy Timer

[Timer]
OnBootSec=5min
OnCalendar=hourly
Persistent=true
Unit=tamagotchi-autodeploy.service

[Install]
WantedBy=timers.target
